$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale:#D1C4E9;

//Height Variables
$carousel-item-height: 300px;


@mixin zero-margin ($pad-up-dn, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.row-header {
    @include zero-margin(0px, 0px);

}
 .row-content {
     @include zero-margin (30px,0px);
     border-bottom: 1px solid $lt-gray;
     min-height: 400px;
 }

 .row-content-about {
  @include zero-margin(40px,0px);
    
}

 .footer {
    background-color: $background-pale;
    @include zero-margin(20px,0px);
 }

 .jumbotron {
     @include zero-margin (70px,30px);
     background-color: $background-light;
     color: floralwhite;
 }

 address {
     font-size: 80%;
     margin: 0px;
     color: #0f0f0f;
 }

 .p-content {
    @include zero-margin(20px,0px);

 } 
 .p-content-header {
    margin: 0px auto;
   padding-top:10px;

}

body {
    padding:50px 0px 0px 0px;
    z-index: 0;

}

.navbar-dark {
    background-color: $background-dark;
}

.btn-color {
    background-color: rgb(231, 149, 26);
    color: oldlace;
}

.tab-content {
    border-left: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    padding: 15px;
}

.carousel {
    background-color: $background-dark;


    .carousel-item {
    height: 250px;

    img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 250px;
}
    }
}


#reserveModal {
    color: darkslategray;
}

#CarouselButton {
    position: absolute;
    right: 0px;
    bottom: 0px;

}
